<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Восстановление пароля</title>
  </head>
  <body>
    <h1>Восстановление пароля</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <div>
        <label for="password">Введите ваш новый пароль</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Введите ваш новый пароль"
          required
        />
      </div>
      <button type="submit">Изменить</button>
    </form>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
  </body>
</html>
