<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Как ваши дела :3?</title>
  </head>
  <body>
    <h2>
      Таак , ну что ж. Добро пожаловать на 2 страницу :0. Тут пока скучно так
      что можете сказать свое имя :333 Может станет весело
    </h2>
    <form method="POST" action="/task2/page3">
      {% csrf_token %}
      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" required />
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>


