<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 1</title>
  </head>
  <body>
    <section>Hello World!!</section>

    <h1>Hi, my name is Mina :3</h1>
    <h3>Nice to see u o(*^▽^*)┛</h3>
    <h3>
      These web pages are created to demonstrate the work of django, the deep
      meaning here does not carry anything
    </h3>
    <!-- шаблонизатор для перехода на другую страницу -->
    <a href="{% url 'second_GET_request' %}">Push me</a>
  </body>
</html>
